body {
    background-color: #f2eff2;
}

/* MAIN */
main {
    display: flex;
    flex-direction: row;
}

.container {
    background-color: white;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

h1, h2, h3 ,h4, h5, h6 {
    color: #00558b;
}

a, a:hover {
    color: #00558b;
}

.button_presentation_ecran {
    border-color: #00558b;
    color: #00558b;
}